.mainContainer{
  /* outer most container nothing goes outside of this container */
    display: inline-flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: fit-content;
    min-height: -moz-fit-content;
    width: 100%;
    overflow: hidden;
  }

/* @media (max-width: 1550px){
    .mainContainer{
      overflow: hidden;
    }
} */

.mainChromeContainer{
  position: absolute;
  overflow: unset;
}

.subContainer {
  /* all Main components within the outer most container */
    /* margin-top: 90px; */
    width: 100%;
    min-height: fit-content;
    min-height: -moz-fit-content;
    /* height: -moz-max-content; */
    overflow: scroll;
}

.navPositionSide{
    margin-top: inherit;
  }

 