.mainContainer{
  /* outer most container nothing goes outside of this container */
    display: inline-flex;
    position: absolute;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    min-height: fit-content;
    min-height: -moz-fit-content;
    width: 100%;
    height: 100vh;
  }

.subContainer {
  /* all Main components within the outer most container */
    margin-top: 90px;
    width: 100%;
    min-height: fit-content;
    min-height: -moz-fit-content;
    height: -moz-max-content;
    overflow: hidden;
}

.navPositionSide{
    margin-top: inherit;
  }
