
/* basic positioning */
.navTopPositioning{
    position: absolute;
    top: 0;
    z-index: 1;
}

.basicSpacing{
    margin-bottom: 4%;
}

/* navdefault */
.navBarDefault{
    display: flex;
    position: fixed;
    width: 100%;
    background: white;
}

/* side menu options */
.navFixedContainer{
    box-shadow: 6px 5px 19px 0px rgba(115, 121, 119, 0.205);
    position: fixed;
    height: 100%;
    /* right: 0; */
}

.navTopPositioningBoxShadow {
    box-shadow: 6px 5px 19px 0px rgba(115, 121, 119, 0.205);
}
.navSideDisplayLeftEdit{
    height: 100%;
    display: inherit;
    width: auto;
    position: inherit;
}

.navSideDisplayRightEdit{
    height: 100%;
    display: inherit;
    width: auto;
    position: inherit;
}

.navFloatRight {
    float: right;
}
