/* background colors */
.backgroundLightGray{
    background: rgba(94, 94, 94, 0.062);
}
.backgroundLightGreen{
    background: rgba(0, 58, 13, 0.281);
}
.backgroundLightBlue{
    background: rgba(19, 29, 74, 0.86);
}

/* panel padding */
.borderPaddingLg {
    padding: 10px;
}

/* panel maring */
.borderMarginLg{
    margin: 10px;
}

/* Panel Default */
 .panelDefault{
     box-shadow: 2px 8px 9px 1px rgba(115, 121, 119, 0.205);
     padding: 5px;
     margin:  25px 8px 25px 8px;
     position: relative;
     width: 100%;
 }

 @media(max-width: 900px){
     .panelDefault{
         margin: 25px 0px 25px 0px;
     }
 }
